.benefits__container {
  color: var(--black-font);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.benefits__heading {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 25px;
}

.benefits__subheading::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 23px;
  height: 2px;
  width: 43px;
  background-color: var(--black-font);
}

.benefits__subheading {
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 35px;
}

.benefits__subheading::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 23px;
  height: 2px;
  width: 43px;
  background-color: var(--black-font);
}

.benefits__description {
  font-size: 18px;
  line-height: 25px;
  max-width: 724px;
  margin-bottom: 50px;
}

/* benefits__list */

.benefits__prev,
.benefits__next {
  display: none;
}

.benefits__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  counter-reset: count 0;
}

.benefits__item {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;

  flex-basis: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__item::before {
  content: counter(count);
  counter-increment: count;
  font-size: 57px;
  line-height: 1;
  font-weight: 500;
  color: #ffffff;

  width: 122px;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23c7ec;
  border-radius: 50%;
  margin-bottom: 16px;
}

/* media 1024px */

@media (max-width: 1024px) {
  .benefits__heading {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 23px;
  }

  .benefits__subheading {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 33px;
  }

  .benefits__description {
    font-size: 16px;
    line-height: 23px;
    max-width: 666px;
  }

  .benefits__item {
    font-size: 18px;
    line-height: 25px;

    flex-basis: 180px;
  }

  .benefits__item::before {
    font-size: 52px;
    line-height: 73px;

    width: 104px;
    height: 104px;
    margin-bottom: 26px;
  }
}

/* media 480px */

@media (max-width: 480px) {
  .benefits__heading {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  .benefits__subheading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }

  .benefits__description {
    font-size: 12px;
    line-height: 17px;
    max-width: 290px;
    margin-bottom: 40px;
  }

  .benefits__list {
    gap: 40px;
  }

  .benefits__item {
    font-size: 18px;
    line-height: 25px;

    flex-basis: 180px;
  }

  .benefits__item::before {
    font-size: 52px;
    line-height: 73px;

    width: 104px;
    height: 104px;
    margin-bottom: 26px;
  }
}

/* media 429px*/

@media (max-width: 429px) {
  .benefits__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .benefits__prev,
  .benefits__next {
    color: #434343;
    background-color: #ffffff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }

  .benefits__prev:hover,
  .benefits__next:hover {
    color: #ffffff;
    background-color: rgba(75, 77, 98, 0.72);
  }

  .benefits__item:nth-last-child(-n + 3) {
    display: none;
  }
}
